<!DOCTYPE html>
<html lang="en">


<div class="page"></div>
    <h1>Welcome</h1>

    <h3>Please enter Ticker symbol (e.g. GOOG) and select price options</h3>

    <div class=metanav>
        <form id='userinfo' method='post' action='index' >
            <p>
        Ticker Symbol: <input text ='text' name ='tickersymbol' />
            </p>

            <p>



        <input type="checkbox" name="open" value="1" /> Opening Price
            </p>

            <p>


        <input type="checkbox" name = "close" value="1" /> Closing Price
            </p>

            <p>


        <input type="checkbox" name = "adj_open" value="1" /> Adjusted Opening Price
            </p>

            <p>

        <input type="checkbox" name = "adj_close" value="1" />  Adjusted Closing Price
            </p>

            <p>

        <input type='submit' value='Submit' >
            </p>
        </form>
    </div>



</head>
<body>

</body>
</html>